<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Test Message</title>
</head>

<body>
    <div>Hello %name%,</div>
    <div>&nbsp;</div>
    <div>This is a test message from the <a href="https://github.com/NullDesk/NullMailer">NullDesk Mailer Extensions</a>. This
        message was sent via SMTP using a file template.</div>
    <div>&nbsp;</div>
    <div>Your name is %name%</div>
    <div>&nbsp;</div>
    <div>Thanks,</div>
    <div>&nbsp;</div>
    <div>Bot</div>
</body>

</html>